<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<!--Head Start-->
<head>

    <meta charset="utf-8">
    <title>Aiswarya Public School</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Aiswarya Public School" name="keywords">
    <meta content="Public School" name="description">

    <!-- Favicon -->
    <link href="img/favicon.icon" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/owl.carousel.css' %}"  rel="stylesheet">
    <!--    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">-->
        <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<!--Head End -->



<!--body start-->
<body>
 <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-clock-o"></i>Mon-Fri 09:00-17:00</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+91-474-2061049</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<!--Header End-->

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img class="img-fluid" src="{% static 'img/logo.png'%}" alt="">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/home" class="nav-item nav-link active">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/gallery" class="nav-item nav-link">Gallery</a>
            <a href="/news" class="nav-item nav-link">News and Events</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Academics</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="/preprimary" class="dropdown-item">Pre-Primary</a>
                    <a href="/primary" class="dropdown-item">Primary</a>
                    <a href="/highschool" class="dropdown-item">High School</a>
                    <a href="seniorsecondary" class="dropdown-item">Senior Secondary</a>
                </div>
            </div>
            <a href="/contact" class="nav-item nav-link">Contact</a>
        </div>
        <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Pay Fees<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/image_1234_9.png'%}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown"></h5>
                                <h1 class="display-3 text-white animated slideInDown">“Education is a progressive discovery of our own ignorance.”</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/image_1345_1.png'%}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown"></h5>
                                <h1 class="display-3 text-white animated slideInDown">“Education is simply the soul of a society as it passes from one generation to another.” </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
<!--From the principals desk-->
<section>
    <div class="container-xxl py-5 my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="col-md-12 my-5 ">
                        <div class="text-center @media print">
                            <h3 class="down-content text-center">From the Principal's Desk</h3>
                        </div>
                    </div>
        <div class="col-md-12 my-5  pt-4">
             <div class="row g-3"   >
                  <div class="col  wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                     <div class="position-relative text-center">
                         <img class="img-fluid" src="{% static 'img/image_348_2.jpg'%}" alt="" style="object-fit: cover;">
                     </div>
                  </div>
                  <div class="col  wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                      <div class=" text-justify">
                         <p align = "justify">
                             When you speak, speak the truth, perform when you promise, discharge your trust. With hold your hand from striking and talking that which is unlawful and bad.”

    The people of fine character live by their values.  They are honest and are committed to truthfulness in thought, word and deed. Their character thus encompasses the capacity for self-discipline .Character creates self-respect, which in turn leads to high self-esteem. Maturity is reflected in all aspects of character- the decision we make, the friends we choose and the responsibilities we accept. Always remember to uphold the dignity of people.

    We believe that every learner is unique and special and that they all have the ability to learn. We believe it is our responsibility as educators to nurture and develop every student to prepare for life.

    Aiswarya public School strives for excellence by preparing students for learning beyond their school years and assisting them to become lifelong learners, as well as helping them to be self-directed, realistic and responsible citizens of tomorrow.

    We strongly believe in the importance of teachers, parents and management collaborating and communicating openly and frequently concerning the progress of students.

    Parents count! Come to school, meet us, talk to us and volunteer your time and energy. Your involvement will show your children that you value their education. Let’s work together!
                             </p>
                      </div>
                  </div>
             </div>
    </div>
    </div>
</section>
<!--From the principals desk End -->

<!-- Image Gallery-->
<section class="bg-secondary text-white" >
        <div class="container-xxl py-5 category">
        <div class="container">
                       <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                           <h1 class="my-3 text-white">Photo Gallery</h1>
            </div>
            <div class="row my-4 g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/image_7498_9.jpg'%}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Activity Room</h5>
                                    <small class="text-primary">Image 1</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/image_9747_12.jpg'%}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">PlayGround</h5>
                                    <small class="text-primary">Image 2</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{% static 'img/image_8124_8.jpg'%}" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Staff Room</h5>
                                    <small class="text-primary">Image 3</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/image_6984_6.jpg'%}" alt="" style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                            <h5 class="m-0">Tree Planting</h5>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Gallery End -->

 <!-- GOOGLE MAP -->

        <section class="my-5">

                <h3 class="my-5 down-content text-center">Our Location</h3>

        <iframe src= "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31543.11640228345!2d76.67122907902386!3d8.796446443507492!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05e50c0853bf0f%3A0xb0362a1ee9435b19!2sKalakkode%2C+Kerala%2C+India!5e0!3m2!1sen!2sus!4v1512982736443" width="100%" height="630" frameborder="1" style="border:0" allowfullscreen> loading="lazy"></iframe>

 </section>
<!--Google Map end-->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!-- Contact form-->
<section class="p-3  bg-info text-white">
      <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 300px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-50" src="{% static 'img/image_8476_8.jpg'%}" alt="" style="object-fit: cover;">

                    </div>
                </div>
            <div class="col-md-6 col-sm-6 my-5">
                <h4>Connect with us </h4>

             <div class="my-5">
                 <form action="" method="post" class="row g-3">
                  <div class="row">
                       <div class="col-md-6 col-sm-6">
                          {{ form1.first_name | as_crispy_field}}
                      </div>
                      <div class="col-md-6 col-sm-6">
                        {{ form1.last_name | as_crispy_field}}
                      </div>
                  </div>
            <div class="row">
                  <div class="col-md-6 col-sm-6">
                          {{ form1.email | as_crispy_field}}
                </div>
                 <div class="col-md-6 col-sm-6">
                    {{ form1.phone_number | as_crispy_field}}
                </div>
                 <div class="col-sm-12 mb-3">
                    {{ form1.message | as_crispy_field}}
                </div>
            </div>
                <div>
                    <input type="submit" value="Submit">
            </div>

              {% csrf_token %}
        </form>
         </div>
        </div>
            </div>
            </div>
      </div>
</section>

<!-- Contact form End-->

<!--Footer-->
 <section class="p-3 mb-2 bg-dark text-white">
         <!-- Footer Start -->
    <div class="container-fluid footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3" align="left">Menus</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Academics</a>
                    <a class="btn btn-link" href="">Pay Fees</a>
                    <a class="btn btn-link" href="">gallery</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                </div>
                <div class="col-lg-3 col-md-6">
                     <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-1" align="left"><i class="fa fa-map-marker me-1" ></i>Kalakkode Poothukulam p.o.kollam, kerala</p>
                    <p class="mb-1" align="left"><i class="fa fa-phone me-1"></i>0474-2061049,2513049</p>
                    <p class="mb-1" align="left"><i class="fa fa-envelope me-1"></i>apskalakkode@yahoo.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Gallery</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-0 " src="{% static 'img/image_8888_1 (1).jpg'%}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-0" src="{% static 'img/image_8888_1 (6).jpg'%}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-0" src="{% static 'img/image_8888_3.jpg'%}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-0" src="{% static 'img/image_4444_1 (5).jpg'%}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-0" src="{% static 'img/image_6666_1.jpg'%}" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-0" src="{% static 'img/image5555_2.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Enquiry</h4>
                    <p>Signup for Enquiry</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-9 d-flex align-items-center">
            <div class="copyright">
                 &copy; <a class="border-bottom" href="#">Aiswariya Public School</a>, All Right Reserved.
                        Designed By <a class="border-bottom" href="https://kryil.com">KRYIL</a><br><br>
							</div>
						</div>
        </div>
    </div>
 </section>
<!-- Footer End-->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js'%}"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
       </div>
            </div>
</body>
<!--body end-->

</html>
<!--html End-->